h1 {
  color: teal;
}

body {
  background-color: white;
  font-family: 'H', 'Trebuchet MS', Helvetica;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.closeButton {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.closeButton:hover {
  color: red;
}

.tab input[type=text] {
  float: right;
  padding: 4px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 12px;
}

.container-posts {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 10px;
}

.postLeft {
  color: #7d6871;
  font-weight: 700;
  position: absolute;
  width: 100px;
  border-right: 1px solid #ccc;
}

.catImg {
  margin-top: 10px;
  position: absolute;
  width: 90px;
}

#postRight {
  padding-left: 110px;
  padding-right: 10px;
  margin-right: 0px;
}

.userInput {
  padding-left: 10px;
}

.userInput input[type=text] {
  padding: 4px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 12px;
  width: 250px;
}

#submitButton {
  display: inline-block;
  border-radius: 4px;
  background-color: teal;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.deleteButton {
  margin-right: 10px;
  float: right;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: teal;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.delbutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: teal;
  color: teal;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}